/*Variables*/
:root {
    --off-white: #f2f0f0;
    --oxford-blue: #002147;

    --royal-blue: #1d42a6;
    --light-blue: #B9D6F2;
    --orange: #FB5607;

    --content-width: 48rem;
    --transition-time: 0.3s;
    --radius: 12px;
}

/*Fonts*/
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v51-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/roboto-v51-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v51-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/roboto-v51-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-grotesk-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/space-grotesk-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Cascade*/
html {
    font-size: 13pt;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: var(--off-white);
    color: var(--oxford-blue);
    transition: var(--transition-time);
}
@media screen and (max-width: 720px) {
	html {
		font-size: 11pt;
	}
}

/*Links*/
a {
    transition: var(--transition-time);
    color: var(--royal-blue);
}
a:hover {
    color: var(--orange);
}

/*Headings*/
h1, h2, h3, summary {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.4;
}
h2 {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    line-height: 1.4;
}
h3 {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.4;
}
summary {
    font-size: 1.25rem;
    line-height: 1.4;
}

::selection {
	color: var(--off-white);
	background-color: var(--orange);
}

html {
	cursor: url("images/icons8-cursor-24.png"), default;
}
a {
	cursor: url("images/icons8-hand-24.png"), pointer;
}

/*Utilities*/
.wrapper {
	margin-inline: auto;
    margin-top: 0;
    margin-bottom: 0;
	padding: 2rem;
	max-width: var(--content-width);
    height: calc(100vh - 4rem + 0.1rem);
}

.grow-on-hover {
    transition: var(--transition-time);
}
.grow-on-hover:hover {
    scale: 1.05;
}

.logo {
    height: 4rem;
}

.tiny-logo {
    height: 2rem;
}

.cover-image-container {
    width: 100%;
    height: 10rem;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centred {
    text-align: center;
}

.card {
    --card-width: 48%;
    display: inline-block;
    width: var(--card-width);
    margin-left: calc((0.25 * (100% - (2 * var(--card-width)))) - 2px);
    margin-right: calc((0.25 * (100% - (2 * var(--card-width)))) - 2px);
    margin-top: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: var(--transition-time);
    vertical-align: top;
}
@media screen and (max-width: 720px) {
	.card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
.card:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-image-container {
    width: 100%;
    height: 2.5rem;
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content {
    --lr-padding: 1.5rem;
    width: calc(100% - 2 * var(--lr-padding));
    padding-left: var(--lr-padding);
    padding-right: var(--lr-padding);
    padding-bottom: 0.5rem;
}
.card-link {
    text-decoration: none;
}

.blue {
    background-image: linear-gradient(150deg, var(--royal-blue), var(--oxford-blue) 300%);
    background-color: var(--royal-blue);
    color: var(--off-white);
}

.light-blue {
    background-image: linear-gradient(150deg, var(--light-blue), var(--royal-blue) 300%);
    background-color: var(--light-blue);
    color: var(--oxford-blue);
}

.orange {
    background-color: var(--orange);
    color: var(--off-white);
}

.radius {
    border-radius: var(--radius);
}
.radius-top {
    border-radius: var(--radius) var(--radius) 0 0;
}
.radius-left {
    border-radius: var(--radius) 0 0 var(--radius);
}

.website-credit {
    font-size: 0.75rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.article-credit {
    font-size: 0.85rem;
    border-top: 1px solid;
    padding-top: 0.5rem;
    margin-top: 5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-style: italic;
}

.gradient-background {
    background-image: linear-gradient(150deg, var(--off-white) 0%, var(--light-blue) 150%);
    background-attachment: fixed;
}

.wavy-underline {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 0.25rem;
    text-underline-offset: 0.4rem;
}

.grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.large {
    font-size: 18pt;
}

.flow > * + * {
    margin-top: var(--flow-spacing, 1rem);
}
